---
import Layout from "../layouts/Layout.astro"
import { getSession } from 'auth-astro/server';

const session = await getSession(Astro.request);
---

<Layout title="PoppyClock">
	<button id="login" class={session ? "btn" : "btn btn-primary"}>Login</button>
	<button id="logout" class={session ? "btn btn-primary" : "btn"}>Logout</button>

	<script>
	const { signIn, signOut } = await import("auth-astro/client")
	document.querySelector("#login").onclick = () => signIn("cognito")
	document.querySelector("#logout").onclick = () => signOut()
	</script>
</Layout>
